
# reference other projects
/ref

# useless Cangjie configuration file
cjlintignore.fcg

.cache
.vscode
# bin
main/cangjie/target/release/bin/main.exe
main/cangjie/target/release/bin/simple_finer.bchir2
main/cangjie/target/release/bin/simple_finer.cjo
